<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Photoalbum project, a Django-Backbone-Marionette example projecct.</title>
        <meta charset="utf-8" />
        <meta name="description" content="Photoalbum">
		<meta name="author" content="Eamon Woortman">
        <meta name="viewport" content="width=device-width" />
		    
		<script data-main="/static/js/photoalbumapp/init.js" src="static/js/photoalbumapp/lib/require.js"></script>

        <link href="/static/css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="itp_overlay" class="black_overlay"><div class="overlay_content"><img src="static/img/ajax_loader.gif"/><p>Loading website...</p></div></div>


        <header class="row">
			<div id="navigation">

			</div>
        </header>
		<content class="row">
			<div class="large-12 columns">
				{% block content %}{% endblock %}
			</div>
		</content>
        <footer class="row">
            <div class="large-12 columns">
	            <hr>
	            <div class="row">
					<div class="large-6 columns">
						<p>© Copyright no one at all. Go to town.</p>
					</div>
				</div>
			</div>
		</footer>
    </body>
</html>



                
