<div class="row">
	<table class="full-width">
		<thead>
			<tr>
                <th width="5%">Id</th>
                <th width="40%">Name</th>
                <th width="10%">Image count</th>
                <th width="25%">Created</th>
                <th width="5%"></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>