<div class="row">
	<h2 class="subheader">Album overview</h2>
</div>
<hr/>

<div id="pagination-main"></div>
<div id="pagination-controls"></div>

<a href="#" data-reveal-id="addAlbumModal"  class="small button">Add album</a>

<div id="addAlbumModal" class="reveal-modal" data-reveal>
    <h2>Add album</h2>
    <form id="addAlbumForm">
        <div class="row">
            <div class="large-6 columns">
                <label>
                    Album name
                    <input type="text" placeholder="Awesome album" />
                </label>
            </div>
        </div>
        <button type="submit" class="medium button green">Submit</button>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>