<div class="row">
	<h2 class="subheader">Photo details</h2>
</div>
<div class="row">
    <div id="photo-1" class="panel">
        <div class="panel text-center">
            <img class="centered" src="/media/<%=image%>"/>
            <p><b>Title:</b> <%=title%><br/>
            <b>Dimensions:</b> <%=width%>x<%=height%><br/>
            <b>Created:</b> <%=created%><br/>
            <b>Owner:</b> <%=user%></p>
        </div>
    </div>
</div>