/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body { 
	background: white;
	background-image:url('../img/bg.png');
}

/* display block our custom tags to allow embedding like normal divs */
header, content , footer {
	display: block;
}

.full-width {
	width: 100%;
}

.th {
	width: 150px;
	height: 150px;
}

.reveal-modal {
	top: 5px;
}

/* -----------------------------------------
   Loading Overlay
----------------------------------------- */
.black_overlay{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.9;
	opacity:.90;
	filter: alpha(opacity=90);
}

.overlay_content {
	display: block;
	position: absolute;
	top: 30%;
	left: 40%;
	padding: 16px;
    width: 250px;
	z-index:1002;
	color: #FFFFFF;

	border:3px solid;
	border-radius:10px;
	-moz-border-radius:10px; /* Firefox 3.6 and earlier */
	border-color:#5d656a;

	text-align:center; margin:0 auto;
}
/* -----------------------------------------
   Page Name 1
----------------------------------------- */


/* -----------------------------------------
   Page Name 2
----------------------------------------- */
